.ipynb_checkpoints/CNN2D-Bagging-MNIST-checkpoint.ipynb
FFNN-15-13.csv
FFNN-15-17.csv
FFNN-15-22.csv
FFNN-15-24.csv
FFNN-15-26.csv
FFNN-15-27.csv
FFNN-15-29.csv
FFNN-15-30.csv
FFNN-15-31.csv
FFNN-15-33.csv
